/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-color: #fffef5f9;
    color: #313131;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
    border-radius: 12px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #eeeeee;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

section {
    display: grid;
    width: 100%;
    border-radius: 0.75rem;
    background-color: #f9f9f9;
    gap: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
  }

button {
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
}

button:hover {
    opacity: 75;
}

/* INPUT STYLES */
input, textarea {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
    border: 1px solid #eeeeee;
    font-size: 0.875rem; 
    border-radius: 12px; 
    width: 100%;
}

/* INPUT STYLES */
select {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
    border: 1px solid #eeeeee;
    font-size: 0.875rem; 
    border-radius: 12px; 
    width: 100%;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 121, 250, 0.3); /* matches focus:ring color */
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 121, 250, 0.3); /* matches focus:ring color */
}

@keyframes up {
    0% {
        opacity: 0;
    transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

 /* fade up animation */
.fade-up section {
    animation: up 0.5s ease-in-out forwards;
    opacity: 0;
}

.fade-up section:nth-of-type(1) {animation-delay: 0s;}
.fade-up section:nth-of-type(2) {animation-delay: 0.1s;}
.fade-up section:nth-of-type(3) {animation-delay: 0.2s;}
.fade-up section:nth-of-type(4) {animation-delay: 0.3s;}
.fade-up section:nth-of-type(5) {animation-delay: 0.4s;}
.fade-up section:nth-of-type(6) {animation-delay: 0.5s;}
.fade-up section:nth-of-type(7) {animation-delay: 0.6s;}
.fade-up section:nth-of-type(8) {animation-delay: 0.7s;}
.fade-up section:nth-of-type(9) {animation-delay: 0.8s;}

/* fade right animation */
.fade-left a {
    animation: left 0.5s ease-in-out forwards;
    opacity: 0;
  }